.params
  .row
    .col-md-3
      %h4 Params

    .col-md-9
      .body
        %table.table.table-sm.mb-0.parameters
          %tr
            %th.name Name
            %th.type Type
            %th.description Description
          - request_method.parameters.order(:key).each do |param|
            %tr
              %td
                = param.key
                - unless param.is_required?
                  %small.text-muted
                    Optional
                  %br
              %td.type= param.field_type
              %td
                - if param.description.present?
                  = param.description
                  %br
                / - content = ""
                / - content += param.description if param.description
                / - content += " Default: <code>" + param.default_value + "</code>" if param.default_value.present?
                / - content += " (Optional)" unless param.is_required?
                / = Kramdown::Document.new(content).to_html.html_safe if content.present?
                - if param.default_value.present?
                  Default:
                  %code= param.default_value
                  %br

            / %tr
            /   %td= param.key
            /   %td.text-right= param.value
