.params
  .row
    .col-md-12
      .title Params

      .body
        %table.table.table-sm.mb-0.parameters
          %tr
            %th.name Name
            %th.description Description
            %th.required Required
            %th.default Default
          - request_method.parameters.order(:key).each do |param|
            %tr
              %td= param.key
              %td= param.description
              %td
                - if param.is_required
                  Yes
                - else
                  No
              %td= param.default_value
            / %tr
            /   %td= param.key
            /   %td.text-right= param.value
