.row
  .col-md-10.offset-1
    .card.text-white.bg-secondary#project-info
      .card-body
        %p 
          = fa_icon "info-circle"
          Project details are utilized in generating a valid OpenApi (Version 3.0.0) schema with some attributes not optional. It is recommended that you complete as much of the requested information as this can result in a more informative and helpful schema to end-users.
    %br