.row
  .col-md-12
    %h1 API Documentation Site & Schema Details

= render 'project_details_explanation'

.row
  .col-md-12
    = render 'form'


.row
  .col-md-12
    %br
    .text-center= link_to "View Documentation", project_path(@project)
