= render 'nav'

%section#details
  .row
    .col-md-12
      %h2 API Documentation Site & Schema Details

      = render 'project_details_explanation'

  .row
    .col-md-12
      = render 'form'

      %br
      %br
