= render 'nav'


%section#details
  = render 'users/users'
  = render 'invitations/invitations' if @invitations.any?
  = render 'invitations/send_invitation' if @project.admin_or_higher?(current_user)
