
$base-color: #0f4c81;
$secondary-color: lighten($base-color, 10%);
$third-color: darken($base-color, 10%);
$base-black: #111111;
$background: #efefef;
$editing: lighten(red, 20%);
$highlight: green;
$font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: $font;
}

#homepage {
  h1 {
    margin: 3em auto 0.5em auto;
    border: 0.8em solid lighten(#007bff, 40%);
    padding: 0.55em;
    font-size: 5em;
    font-weight: 900;
    color: #007bff;
    text-align: center;
  }
  #links {
    text-align: center;
    font-weight: 500;
    font-size: 1.3em;
  }
}

#error_explanation {
  margin: 1em 0 2em 0;
  padding: 1.5em;
  background-color: lighten(red, 35%);
  border-radius: 10px;
  ul {
    margin-bottom: 0;
  }
  h2.error_title {
    font-size: 1.4em;
    border-top: none;
    padding: 0;
    margin: 0 0 1em 0;
  }
}

#not-found {
  margin-top: 7.6em;
  text-align: center;
  .icon {
    font-size: 6.5em;
    margin-bottom: 0.1em;
  }
  h1 {
    margin-top: 0.25em;
    font-weight: 300;
    font-size: 1.8em;
  }
}

#old-font {
    font-family: "Fira Mono", monospace;
}


pre {
  overflow: visible !important;
}


#request-method {
  .params, .request, .response {
    display: block;
    margin: 2em 0;
    padding-top: 3em;
    border-top: 1px solid #d6d6d6;

    .title {
      color: #000;
      font-weight: 600;
      font-size: 1.7em;
      text-transform: uppercase;
    }
    .body {
      word-break: break-all;
      overflow-wrap: break-word;
    }
    table.parameters {
      th, td {
        &.required {
          width: 6.5em;
        }
        &.default {
          width: 12em;
        }
        padding-right: 0.75em;
        &.name {
          width: 13em;
        }
      }
    }
  }
}

#request-method-old {
  .params, .request, .response {
    display: block;
    margin: 2em 0;
    background-color: $background;
    border-radius: 0.45em;

    .title {
      background-color: darken($background, 10%);
      color: #999;
      padding: .75em 1.5em;
      font-weight: 500;
      margin: 0;
      text-transform: uppercase;
      border-radius: 0.45em 0 0 0;
      border-left: 3px solid darken($background, 10%);
      border-top: 3px solid darken($background, 10%);
    }
    .body {
      padding: 1.7em 1.4em;
      word-break: break-all;
      overflow-wrap: break-word;
    }
    table.parameters {
      th, td {
        &.required {
          width: 6.5em;
        }
        &.default {
          width: 12em;
        }
        padding-right: 0.75em;
        &.name {
          width: 13em;
        }
      }
    }
  }
}

#interaction.request, #interaction.response  {
  display: block;
  margin: 2em 0;
  background-color: darken($background, 10%);
  border-radius: 0.45em;

  .title {
    background-color: $base-color;
    color: #fff;
    padding: .75em 2em;
    font-weight: 500;
    margin: 0;
    text-transform: uppercase;
    border-radius: 0.45em 0.45em 0 0;
  }
  .body {
    padding: 1.7em 1.4em;
    word-break: break-all;
    overflow-wrap: break-word;
  }
}

#toggle-is-published {
  margin: 1em 0;
  text-align: center;
  padding: 0.5em 0;
  border-top: 1px solid #efefef;
  border-bottom: 1px solid #efefef;
}

.row.side-nav {
  min-height: 100%;
}

#main-container {
  height: 100%;
}

#flash {
  margin: 1.666em 0;
}

#main-content {
  padding-top: 65px;
}

.action {
    font-size: 16px !important;
    color: $editing;
}

h1 {
  margin: 1em 0 2em;
}

form {
  :required {
    background-color: #efefef;
    font-weight: 400;
  }
}

#details {
  margin-top: 2em;
  h2 {
    border-top: 1px solid #ccc;
    padding-top: 1.1em;
    font-size: 1.5em;
    margin: 2.25em 0 1.5em;
  }
}


#chapter {
  margin-bottom: 5em;
  ul, .info {
    display: block;
    margin: 2em 5em;
    padding: 1em 2em;
  }

  h1,h2,h3,h4,h5,h6 { 
    font-weight: 600;
    margin-top: 0;
    }

  h1 {
    padding-bottom: 0.6em;
    margin: 1em 0 1em 0;
    border-bottom: 1px solid #eee;
    font-size: 3.0rem
  }

  h2 {
    font-size: 2.25rem;
    margin: 1.5em 0 1em 0;
    &.endpoint {
      font-weight: 500;
      font-size: 2.4em;
      .icon {
        display: inline;
        font-size: 0.7em;
        color: $base-color;
      }
    }
  }

  h3 {
    font-size: 1.5rem;
  }

  .request-info {
    background-color: #efefef;
    line-height: 1.666em;
    font-size: 1em;
    margin: 1em 0;
    display: block;
    border-radius: 0.45em;
    .verb {
      display: inline-block;
      font-weight: 700;
      background-color: $secondary-color;
      padding: 0.5em;
      color: #ffffff !important;
      border-radius: 0.45em 0 0 0.45em;

    }
    .url {
      display: inline-block;
      padding: 0.5em;
      font-weight: 100;
    }
  }
  h6 {
    border-bottom: 1px solid #efefef;
    padding-bottom: 1em;
    margin: 3em 0 1.25em 0;
  }

}

#side-nav {
  background-color: darken($background, 70%);
  min-height: 100%;

  ul {
    padding-left: 0.25em;
  }

}

nav {
  &.main-nav {
    background-color: $base-color;
    ul {
      list-style: none;
    }
    margin-bottom: 2em;
    .navbar-brand {
      font-size: 1.5rem;
      font-weight: 300;
      a {
        color: #fff;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }



  &.side-nav {
    padding: 1em;
    ul {
      list-style: none;
      padding-inline-start: 1em;
      ul {
        display: none;
      }
      li a {
        color: #efefef;
        }
      li.active a {
        color: darken(#efefef, 20%);
      }
      li.active ul {
        display: block;
        li a {
          color: lighten($base-black, 50%)
        }
      }
      li a:hover {
        text-decoration: none;
        color: $base-black;
      }
    }
  }
}
#editing-mode {
  z-index: 200;
  width: 100%;
  position: fixed;
  bottom: 0;
  font-weight: 700;

  padding: 0.4em 0 0.4em 0;
  background-color: lighten(red, 20%);
  color: #fff;
  ul {
    list-style: none;
    padding-inline-start: 1em;
  }
  a {
    color: #fff;
  }
}

#chapter-pagination {
  border-top: 1px solid #efefef;
  padding-top: 1.666em;
  margin-top: 3em;
  margin-bottom: 3em;
  text-transform: uppercase
}

code {
  display: inline-block;
  padding-left: 0.75em;
  padding-right: 0.75em;
  color: #000;
  background-color: $background;

  border-radius: 0.45em;
}
#project-nav {
  margin: 1em 0 em 0;
  h2 {
    font-size: 1.2em;
    margin: 0;
    text-transform: uppercase;
  }
  h1 { 
    font-weight: 300;
    margin: 0;
  }
  a.nav-link.active {
    color: #999;
  }
}

pre {
  margin-bottom: 0;
}

.badge-verb {
  background-color: $secondary-color;
  color: #efefef;
}

li.nav-item .endpoint {
  display: inline-block;
  margin-right: 0.15em;
}

table.table th,td {
  &.action {
    width: 6em;
  }
}

table#parameters {
  td.key, td.value {
    word-break: break-all;
    overflow-wrap: break-word;
  }
  td.key { width: 18em; }
  td.value {
    text-align: right;
  }
}

table#error-codes {
  td {
    vertical-align: top;
    padding: 0.5em 0.5em 0.5em 0;
  }
  td.code {
    text-align: left;
    width: 6em;
    font-weight: 900;
  }
  td.details {
    .title {
      display: inline-block;
      padding: 0.09em 0.6em;
      margin-right: 0.75em;
      background-color: lighten($base-color, 60%);
      border: 1px solid $base-color;
      color: $base-color;
      font-weight: 500;
      border-radius: 5px;
    }
    .message {
      line-height: 1.333em;
      margin-top: 0.65em;
    }
  }
}

article#test-params {
  display: block;
  font-size: 0.9em;
  padding: 0 0 1em 0;
  border: 1px solid lighten($editing, 15%);
  background-color: lighten($editing, 65%);
  border-radius: 7px;
  .title {
    background-color: $editing;
    color: #fff;
    padding: .75em 1em;
    font-weight: 500;
    margin: 0;
    text-transform: uppercase;
    border-radius: 0.45em 0.45em 0 0;
  }
  .body {
    padding: 1em 1em 0 1em;
  }
}

#message {
  background-color: invert($base-color);
  padding: 1.66em;
  font-weight: 500;
  color: #fff;

  text-shadow: 0 -1px 0 darken($base-color, 10%);
  @include box-shadow(inset 0 1px 0 lighten($base-color, 20%));
}
.clear {
  clear: both
}

.attribute {
  border-top: 1px solid #ccc;
  line-height: 1.666em;
  padding-top: 1.6em;
  margin-bottom: 3.66em;
  .key {
    font-weight: 700;
    display: inline-block;
  }
  .characteristic {
    display: inline;
    color: #aaa;
  }
  .description {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }

}
.content-break {
  margin-top: 5em;
  padding-top: 2em;
  border-top: 2px solid lighten(#000000, 80%);
}

.sidebar {
  position: fixed;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  padding: 48px 0 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}
.sidebar-sticky {
  top: 0;
  height: calc(100vh - 48px);
  overflow-x: hidden;
  overflow-y: auto;
}
