$base-color: #777777;
$base-black: #111111;
$background: #efefef;
$highlight: green;

html {
  height: 100%;
}

body {
  height: 100%
}

#homepage {
  h1 {
    margin: 3em auto 0.5em auto;
    border: 0.8em solid lighten(#007bff, 40%);
    padding: 0.55em;
    font-size: 5em;
    font-weight: 900;
    color: #007bff;
    text-align: center;
  }
  #links {
    text-align: center;
    font-weight: 500;
    font-size: 1.3em;
  }
}

.card#error_explanation {
  margin: 1em 0 2em 0;
  .card-header {
    font-size: 1.5em;
  }
}

#not-found {
  margin-top: 7.6em;
  text-align: center;
  .icon {
    font-size: 6.5em;
    margin-bottom: 0.1em;
  }
  h1 {
    margin-top: 0.25em;
    font-weight: 300;
    font-size: 1.8em;
  }
}

#interaction.request, #interaction.response  {
  display: block;
  font-family: "Fira Mono", monospace;
  margin: 2em;
  background-color: darken($background, 10%);
  border-radius: 0.45em;

  .title {
    background-color: darken($background, 70%);
    color: #fff;
    padding: 0.75em 1em;
    font-weight: 500;
    margin: 0;
    text-transform: uppercase;
    border-radius: 0.45em 0.45em 0 0;
  }

  .body {
    padding: 1em;
  }



}

#toggle-is-published {
  margin: 1em 0;
  text-align: center;
  padding: 0.5em 0;
  border-top: 1px solid #efefef;
  border-bottom: 1px solid #efefef;
}

.row.side-nav {
  min-height: 100%;
}

#main-container {
  height: 100%;
}

#flash {
  margin: 1.666em 0;
}

#main-content {
  margin-top: 1.666em;
}

i.fa {
  &.fa-edit, &.fa-times {
    font-size: 1.3rem;
    color: lighten(red, 20%);
  }
}

h1 {
  margin: 1em 0 2em;
}

form {
  :required {
    background-color: #efefef;
    font-weight: 400;
  }
}

#details {
  margin-top: 2em;
  h2 {
    border-top: 1px solid #ccc;
    padding-top: 1.1em;
    font-size: 1.5em;
    margin: 2.25em 0 1.5em;
  }
}


#chapter {
  ul, .info {
    display: block;
    margin: 2em 5em;
    padding: 1em 2em;
    background-color: #efefef;
  }

  h1 {
    padding-bottom: 0.6em;
    margin: 1em 0 1em 0;
    border-bottom: 1px solid #eee;
    font-weight: 300;
    font-size: 3.2rem
  }

  h2 {
    font-weight: 300;
    font-size: 2.25rem;
    margin: 1.5em 0 1em 0;
  }

  h3 {
    font-weight: 300;
    font-size: 1.3rem;
    margin: 2.5em 0 1em 0;
  }

  .request-info {
    background-color: #efefef;
    line-height: 1.666em;
    font-size: 1em;
    margin: 1em 0;
    .verb {
      display: inline-block;
      font-weight: 700;
      background-color: $highlight;
      padding: 0.5em;
      color: #ffffff !important;
    }
    .url {
      display: inline-block;
      padding: 0.5em;
      font-weight: 100;
    }
  }

}

#side-nav {
  background-color: $background;
  min-height: 100%;
}

#schema {
  .download-link {
    font-size: 1.75rem;
  }
}

nav {
  &.main-nav {
    background-color: $base-color;
    ul {
      list-style: none;
    }
    margin-bottom: 2em;
    .navbar-brand {
      font-size: 1.5rem;
      font-weight: 300;
      a {
        color: #fff;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }



  &.side-nav {
    padding: 1em;
    ul {
      list-style: none;
      padding-inline-start: 1em;
      ul {
        display: none;
      }
      li a {
        color: lighten($base-black, 50%)
        }
      li.active a {
        color: #000;
      }
      li.active ul {
        display: block;
        li a {
          color: lighten($base-black, 50%)
        }
      }
      li a:hover {
        text-decoration: none;
        color: $base-black;
      }
    }
  }
}
#editing-mode {
  width: 100%;
  position: fixed;
  bottom: 0;
  font-weight: 700;

  padding: 0.4em 0 0.4em 0;
  background-color: lighten(red, 20%);
  color: #fff;
  ul {
    list-style: none;
    padding-inline-start: 1em;
  }
  a {
    color: #fff;
  }
}

#chapter-pagination {
  border-top: 1px solid #efefef;
  padding-top: 1.666em;
  margin-top: 3em;
  text-transform: uppercase
}

code {
  display: inline;
  color: red;
  background-color: #efefef;
  padding: 0.15em;
  border-radius: 0.45em;
}
#project-nav {
  margin: 1em 0 em 0;
  h2 {
    font-size: 1.2em;
    margin: 0;
    text-transform: uppercase;
  }
  h1 { 
    font-weight: 300;
    margin: 0;
  }
  a.nav-link.active {
    color: #999;
  }


}

