%nav.nav.editing-nav
  = link_to "+ Chapter", new_chapter_path, id: "new-class-link", class: 'nav-link'

  = link_to "+ Section", new_section_path, id: "new-section-link", class: 'nav-link' if @chapter
  = link_to "+ Request method", new_request_method_path, class: 'nav-link' if @sections && @sections.any?
  = link_to "+ Sub-section", new_sub_section_path, class: 'nav-link' if @sections && @sections.any?
