!!!
%html
  = render 'head'

  %body
    = render "main_nav"
    .container-fluid#main-container
      .row
        .col-md-10.offset-1
          = render 'flash'
      .row
        .col-md-6.offset-3#main-content
          = yield
